.DS_Store

**.tar.gz
**.zip
**.app
**.dmg

**/archive
**/checkpoints
**checkpoints

**/data
**/test_data
**/input
**/inputs

**/exercises
**/.ipynb_checkpoints

**/images
!**/results/images
**/**images
**/photos
**/**photos
**/videos
**/video

**/models
!**/models/gold
**/test_models
**/reading
**/research
**/setup

**/simulator


